name: build-and-release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create artifact structure
        run: |
          mkdir -p dist
          zip -r dist/monolit-shield-mu-${{ github.ref_name }}.zip mu-plugins server README.md README.es.md LICENSE .editorconfig .gitattributes

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: monolit-shield-mu-${{ github.ref_name }}
          path: dist/monolit-shield-mu-${{ github.ref_name }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: monolit-shield-mu-${{ github.ref_name }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: monolit-shield-mu-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
